/* This makes use of an external stylesheet */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);  /* Importing fonts  */ 


#body {                     /**id = body**/
   padding-top:100px;         /**leave space at top **/
   padding:20px;           /**extra padding, to all sides, 110px on top now **/
   padding-bottom:150px;   /*leave extra padding for footer*/
   
}


#header { /* Use of div elements to make it easier to position layout on CSS */
    margin-top: 2%;           /**leave space at top 2% for navbar to fit**/
    background-color: #33cccc;    /**Site title colour **/
    padding-left:55px;    /**add extra padding to the left **/
    color:white;       /**text colour**/
}


.TitleP {                      /**Header text **/
    text-align: left;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;   /* Use of font using imported fonts */
    color: white;                  /**font color **/
    text-shadow: black 0 0 1px;   /** text shadow on bottom of text **/
    font-size: 70px;       
}




.navbar navbar-inverse navbar-static-top{   
    padding-left: 150px;                   /**nav buttons show with left padding **/
}



.picture{                    /**Pictures class **/
    padding: 20px;          /**nav buttons show with left padding **/
    height: 280px;         /**set all picture class height **/
    width: 380px;          /**set all picture class width **/
    opacity: 1;            /**opacity 1, user can see the image  **/
}

.picture:hover{        /** when mouse hovers over **/
    opacity: 0.5;     /**decrease the opacity by 50%, less visible to user **/
}


.upbtn{               /**scroll up btn **/
    margin-top:20px;  /**add margin to fit in with other footer elements **/
    height: 35px;     /**set btn height **/
    width: 35px;     /**set btn width **/
}

 
.links{                      /**nav buttons show with left padding **/
    text-decoration: none;   /**remove link decorations **/
}

.links:hover{               /**when mouse hover over links **/
    cursor:pointer;          /**change mouse to pointer**/
}



/**Tablet**/
@media only screen and (min-width : 768px) and (max-width : 1024px) {    /** Medium sized screen **/
   #body{
       padding:2%;               /**change body to "2% padding" **/
   }

   
    .header h1{                 /** Display the header, inline means it stays on one line **/
        display:block;
        font-size:20px;       /** Change fontsize to 20px **/
        
    }
    
    
    
 .footer{                 /** extra space on botom of footer for this view**/
      margin-bottom: 50px;
  }

}



#mycarousel{          
    margin-top: 0px;         /** no white space on top of carousel **/
    margin-bottom: 40px;      /** 40px margin between carousel and content below **/
}


/**Smartphones**/
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
    h1{
            display:block;
}


#mycarousel{
    display: none;      /** dont display carousel on mobile**/
}





iframe{
    padding: 0px;     /** Videos have 0 padding **/
    height:110px;
    width:190px;
}

.sidebar{
    display:none;     /** Dont display the sidebar when below this width **/
}




iframe{
    height:160px;                /**Sets size for all youtube videos**/
    width: 290px;      
    padding-left: 15px;          /**space between videos, equal space either side**/
    padding-right: 15px; 
}

}




.main{                      
    line-height:20px;          
    border-radius: 5px;   
    margin-top: 2%;      /** extra margin on top, for header and navbar **/
}





.headerp{                         /**Header text span **/
    color: gray;                   /**span text colour **/
    text-shadow: black 0 0 1px;   /**Added shadow to bottom of txt **/
    
}


.video {
    margin-top: 30px;        /**space above video, seperating from above content**/
}




.mainFooter{                  /**footer **/
    background-color: black;  /**Color of footer **/
    padding: 3%;              /**padding inside footer **/
    margin-top: 5%;           /**Website content is spaced 5% away from footer**/
    text-align: center;       /**footer text centred **/
    color: white;             /**txt colour **/
}


.upbtn{
    height: 90px;
    width: 90px;
    margin:1%;      /** margin  **/
}


a{
    text-decoration: none;  /** all anchors no text-decoration **/
}


