
#body {
   margin-top: 2%;
   padding-top:100px;         /**leave space at top **/
   padding:20px;           /**extra padding, to all sides, 110px on top now **/
   padding-bottom:150px;   /*leave extra padding for footer*/
   
}



#header { /* Use of div elements to make it easier to position layout on CSS */
    margin-top: 3%;
    padding: 50px;          
    text-align:center;           /**removes bullet points from list **/
    background-color: #33cccc;    /**Site title colour **/
    padding-left:55px;    /**add extra padding to the left **/
    color:white;       /**text colour**/
}


.TitleP {                      /**Header text **/
    text-align: left;
    font-family: 'Ubuntu', Helvetica, Arial, sans-serif;   /* Use of font using imported fonts */
    color: white;
    text-shadow: black 0 0 1px;
    font-size: 70px;
}



a {
    text-decoration: none;
}


h1{
    text-decoration: none;
}

.topcontent {
    background-color: #86acac;
    width: 70%;
}



.well about {
    color: blue;
}



a {
    text-decoration: none;
}



.main{                      
    line-height:20px;
    border-radius: 5px;
    margin-top: 2%;
}



#wrap{
border: 1px solid lightgray;
alignment-adjust: central;
width: 1000px;
margin-left: 50px;
margin-top: 10px;
box-shadow: 0 5px 0 #e6e6e6;
padding-bottom: 50px;

}

/**
.heading{
margin-left: 20px;
background-color: #fafafa;
font-size: 25px;
float: left;
padding-left: 40px;
position: relative;
width: 405px;
height: 40px;
padding-top: 5px;

}
#upper_blank{
border-bottom: 7px solid steelblue;
margin-top: 40px;
margin-right: 485px;
width: 570px;
padding-right: 480px;
}
p{
margin-left: 5px;
padding: 8px;
padding-left: 20px;
}
#name{
margin-left: 20px;
box-shadow: 0 2px 0 #e6e6e6;
height: 40px;
padding-left: 10px;
width: 500px;
}
#email{
margin-left: 20px;
box-shadow: 0 2px 0 #e6e6e6;
height: 40px;
padding-left: 10px;
width: 500px;
}
#url{
margin-left: 20px;
box-shadow: 0 2px 0 #e6e6e6;
height: 40px;
padding-left: 10px;
width: 500px;
}
#comment{
margin-left: 20px;
box-shadow: 0 2px 0 #e6e6e6;
height: 40px;
padding-left: 10px;
width: 650px;
height: 200px;
}
#commentSubmit{
margin-left: 20px;
width: 250px;
height: 55px;
color: white;
font-size: 20px;
background-color: #2c95dc;
box-shadow: 0 3px 0 #09466f;
margin-bottom: 30px;
padding-left: 20px;
border-radius: 5px;
}
#commentSubmit:hover {
background-color: #09466f;

}

p{
font-size: 18px;
color: gray;
padding-bottom: 15px;
padding-top: 15px;
}
p1{
font-size: 18px;
padding-top: 20px;
}

.second_heading{
margin-left: 0;
margin-top: 30px;
font-size: 20px;
width: 250px;
height: 50px;
padding-top: 10px;
padding-left: 55px;

}
#middle{
border: 1px solid lightgray;
width: 1000px;
height: 200px;
background-color: lightyellow;
margin-left: 45px;
text-align: left;
margin-top: 10px;
box-shadow: 0 2px 0 lightgray;
}
.blank{
border-bottom: 7px solid steelblue;
margin-top: 50px;
margin-left: 50px;
margin-right: 100px;
width: 800px;
}

#inner_reply{

margin-left: 800px;
margin-top: 160px;
width: 100px;
height: 30px;
background-color: #2c95dc;
text-align: center;
font-size: 18px;
color: white;
border-radius: 18px;
}


**/








.mainFooter{
    text-align:center;
}

.upbtn{
    margin-bottom: 24px;
}





}