{% extends 'template_basic.html' %}

{% block content %}

   <div class="container main">
    
<!-- This is Bootstrap Grid-system, on a xs device this first panel will take up the whole screen (as its 12), while every other size is set to 
take up 3/4 of the screen, this could be done more efficiently with one Media query, but is shown to highlight Bootstrap grid-system -->

    <div class="row">    
             <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
                <div>
                    <h3> Funny, Weird & Interesting in Sports. <br></h3>
                    <article>
                    <p>This is a sports aggregated website, it contains various sports related content, from images, video-clips etc which highligh 
                the funny and interestingside to sports in general. It is also a showcase for my personal ability to develop a website using bootstrap, 
                this contains various elements such as Javascript, Flask, Bootstrap in order to create the finished look, there are multiple elements that are used to 
                design and organise the content including tables, gridsystems, lists and divs. </p>
                    </article>
                </div>
            </div>
            
            
            
    <div class = "sidebar">            <!-- Sidebar content -->
     <div class="row">
        <div class="col-md-2 col-lg-2"> <!-- Doesnt show on a sm/xs screen -->
            <div class="panel-sm panel-info">      <!-- Panel -->
                <div class="panel-heading text-p"> Useful links: </div>   
                    <div class="panel-body">
                        <ul class="navmainul">
                         <li class="links" data-toggle="modal" data-target="#modal-1">Contact</li>
                           <div class="modal" id="modal-1">
                               <div class="modal-dialog">
                                   <div class="modal-content">
                                       <div class="modal-header">
                                           <button class="button" type="close" data-dismiss="modal">&times;</button>
                                               <h3 class="modal-title">Contact</h3>
                                               <div class="social">
                                               <p> E-mail: ahads@uni.coventry.ac.uk <br>
                                               Tel: 07821218646<br>
                                               If you would like more information then email above is the ideal option.
                                               </p>
                                             
                                                <ul>
                                                <li><a target="_blank" title="find us on Facebook" href="https://www.facebook.com/sammy.ahad">
                                                <img alt="find us on facebook" src="//login.create.net/images/icons/user/facebook-b_130x50.png" border=0></a></li>
                                                <li><a target="_blank" title="follow me on twitter" href="http://www.twitter.com/PLACEHOLDER">
                                                <img alt="follow me on twitter" src="//login.create.net/images/icons/user/twitter_130x50.png" border=0></a>
                                                </li>
                                                </ul>
                                                    </div>
                                       </div>
                                   </div>
                               </div>
                           </div>       
                      
                         <li>Additional Info</li> 
                    </ul>
                        
                    </div>
                    
            </div>       
                    
        </div>
     </div>
     </div>
     </div>

    
     
<div class="form-group col-md-2">
  <label for="sel1">Rate the website:</label>
  <select class="form-control" id="sel1">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
      </select>
    </div>






</div>

<div class="container">

<!-------Wrap------------>
<div id="wrap">
<div id="main">
<div class="row">
<div class="col-md-12">
<h4 class="heading">Comments and Responses</h4>
</div>
<div class="col-md-9">
<div id="upper_blank"></div>
</div>
</div>
</div>

<p>Your email address will not be published. Required fields are marked *</p>

<!------------Form Start---------->

<div id='form'>
<div class="row">
<div class="col-md-12">

<form action="" method="POST" id="commentform">

<div id="comment-name" class="form-row">
<input type = "text" placeholder = "Name (required)" name = "dname"  id = "name" >
</div>
<div id="comment-email" class="form-row">
<input type = "text" placeholder = "Mail (will not be published) (required)" name = "demail"  id = "email">
</div>
<div id="comment-url" class="form-row">
<input type = "text" placeholder = "Website" name = "url"  id = "url" >
</div>
<div id="comment-message" class="form-row">
<textarea name = "comment" placeholder = "Message" id = "comment" ></textarea>
</div>
<a href="#"><input type="submit" name="dsubmit" id="commentSubmit" value="Submit Comment"></a>
<input style="width: 30px" type="checkbox" value="1" name="subscribe" id="subscribe" checked="checked">
<p1><b>Notify me when new comments are added.</b></p1>
</form>

</div>
</div>
</div>
</div>

<!-------------------Reply Section------->
<div id="second">
<div class="row">
<div class="col-md-2">
<h3 class="second_heading"><b>Leave a Reply</b></h3>
</div>
<div class="col-md-10">
<div class="blank"></div>
</div>
</div>
</div>
<div id="middle">
<form>
<a href="#"><input type = "text" value = "reply" name = "dreply" id = "inner_reply"></a>
</form>
</div>







<form action = "" method = "POST">
    
    Comments: <textarea rows = "10" cols = "30" name = "commentContent"></textarea><br>
    Name: <input type = "text" name = "name"> <br>
    <input type ="submit" value = "POST!"><br>
</form>
<?php include "about.html"; ?>







</body>
</html>

















</div>
</body>

  

       <!-- footer -->
    <footer class="mainFooter">
        <!-- containing the footer contents. -->
        <div class="container">
            <!-- seperate footer in 3 sections-->
            <div class="row">
                <div class="col-md-3">
                    <p class="lead">Back To Top </p><a class="upbtn" href="#" onclick="scrollToTop();return false">
                    <img class="upbtn" src="https://zhujy8833.files.wordpress.com/2012/01/up1.png"></a> 
                </div>
                <div class="col-md-3">
                    <p class="lead">Contact Us</p>
                    <p class="text-left"><span class="glyphicon glyphicon-phone-alt"></span> +447821218646 
                    <br><span class="glyphicon glyphicon-globe"></span> sammyahad786@gmail.com
                    </p>
                </div>
                
                <div class="col-md-3">
                <p class="lead">Follow Me</p>
                </div>

                <div class="col-md-3">
                    <p class ="lead">Address</p>
                    <p>122 Evergreen Terrace<br>
                    Springfield<br>
                    V52 NJK</p>
                </div>
         
            
            <div class="row">
                <div class="col-md-12">
                    <p class="text-muted">
                    <br>
                    <br>
                    <br>
                    <br> <span class="glyphicon glyphicon-copyright-mark"></span> 2016 Sammy Ahad</p>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}