< !DOCTYPE html >
    <html>
  
    {% block head %} 
    <meta charset="utf-8" />
    {% if title %}
    <title> Sport-Guide - {{ title}}</title>
    {%else%}
    <title>Sport-Guide</title>
    {% end if %}
    <link href="static/css/design.css" type="text/css" rel="stylesheet" />
    <!--Links html page to css, the specific page is "design.css" -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="assets/css/app.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="static/css/about.css" type="text/css" rel="stylesheet" /> <!--Links html page to css, the specific page is "design.css"     -->
    <!--Links to the Javascript page "web.js" -->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:bold' rel='stylesheet' type='text/css'>
    <!-- These two links are to allow different fonts in the html-->
    <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script>
             //This is a predefined html tag, it is used to define the "head" of the webpage, this holds the logo & text
        var timeOut; // Create timeout variable, this holds the data  -->
        function fling() { //Executes instructions for the given below, once this has been activated  -->
            if (document.body.scrollTop != 0) { //If document is not at the top then execute below-->
                window.scrollBy(0, -50); //scroll up vertically by 50px --> 
                rem = setTimeout('fling()', 10);
            }
            else clearTimeout(rem); //This prevents the timeout function from running--> 
        }
    </script>
    
    
     <script>         
         function prompt(){  //Creates function "prompt"
             alert("This will take you off this page");     //If the function activated, alert window activates, user taken to below link
             window.location.href = "https://preview.c9users.io/something123/web_project/about.html?_c9_id=livepreview2&_c9_host=https://ide.c9.io";
         }
     </script>
   {% end block %}


 <body>

 {% block navbar %}
<div id="header">
            <!-- Predefined html tag, it is used to define the header of the webpage, this can hold the logo & textheader-->
            <!-- Website Logo and Title-->
            <h1 class="TitleP"><img height="105" width="121" src="http://www.indiannewsandtimes.com/wp-content/uploads/2015/04/football-logo-wallpaper.png">Sport<span class="headerp">Guide</span> </h1>
            <!--Using the span tag, I can change individual parts of the text -->
        </div>
        <!-- end header -->


        <!-- Fluid Container resizes as window does-->
        <div class="fluid-container">
            <div class="navbar navbar-default navbar-fixed-top "> <!--Navbar fixed to top, follows user down screen-->
                <!--contain the mobile toggles within the previous container-->
                <div class="container">
                    <!--The collapsed header shows up on mobile/tablet view-->
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                        <!--Ham-burger menu for mobile-->
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div class="collapse navbar-collapse navHeaderCollapse">
                        <!--Unordered List-->
                        <ul class="nav navbar-nav">
                            <!--span used for icon in navbuttons-->
                            <li class="active"><a href="https://preview.c9users.io/something123/web_project/web.html?_c9_id=livepreview0&_c9_host=https://ide.c9.io">Home  <span class="glyphicon glyphicon-home"></span></a> </li>
                            <li><a href="#videoa">Videos   <span class="glyphicon glyphicon-play-circle"></span></a> </li>
                            <!--the anchor takes the user to id=picture on same page -->
                            <li><a href="#picture">Pictures <span class="glyphicon glyphicon-camera"></span></a> </li>
                            <!-- Onclick prompt activates "Prompt() function in header-->
                            <li><a onclick="prompt()">About <span class="glyphicon glyphicon-user"></span></a></li>
                        </ul>

                        <div class="col-sm-3 col-md-3 pull-right">
                            <!-- pull the search bar right-->
                            <form class="navbar-form" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% end block %}
        {% block content %}{% endblock %}
       